In [31]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from importlib import reload
%matplotlib inline

In [6]:
train = pd.read_csv('train.csv')

In [7]:
train.head()

,id,target,ps_ind_01,ps_ind_02_cat,ps_ind_03,ps_ind_04_cat,ps_ind_05_cat,ps_ind_06_bin,ps_ind_07_bin,ps_ind_08_bin,...,ps_calc_11,ps_calc_12,ps_calc_13,ps_calc_14,ps_calc_15_bin,ps_calc_16_bin,ps_calc_17_bin,ps_calc_18_bin,ps_calc_19_bin,ps_calc_20_bin
0,7,0,2,2,5,1,0,0,1,0,...,9,1,5,8,0,1,1,0,0,1
1,9,0,1,1,7,0,0,0,0,1,...,3,1,1,9,0,1,1,0,1,0
2,13,0,5,4,9,1,0,0,0,1,...,4,2,7,7,0,1,1,0,1,0
3,16,0,0,1,2,0,0,1,0,0,...,2,2,4,9,0,0,0,0,0,0
4,17,0,0,2,0,1,0,1,0,0,...,3,1,1,3,0,0,0,1,1,0

In [10]:
vec1 = train.ps_ind_02_cat
vec2 = train.ps_ind_04_cat
target = train.target

In [13]:
ct = pd.crosstab(vec1, target)
ct

target              0      1
ps_ind_02_cat
-1                176     40
 1             416431  15428
 2             118860   4713
 3              27137   1049
 4              10914    464

In [17]:
total = ct.sum(axis=1)

In [35]:
import feature_analysis as fa

In [50]:
reload(fa)

In [51]:
f1 = fa.Feature(vec1, target=target)

In [52]:
f1.calculate_IndividualClassFrequency()

target              0      1
ps_ind_02_cat
-1                176     40
 1             416431  15428
 2             118860   4713
 3              27137   1049
 4              10914    464

In [53]:
f1.calculate_CondProba()

target                0         1
ps_ind_02_cat
-1             0.814815  0.185185
 1             0.964275  0.035725
 2             0.961861  0.038139
 3             0.962783  0.037217
 4             0.959220  0.040780

In [54]:
f1.convert2CondProba()

0         0.038139
1         0.035725
2         0.040780
3         0.035725
4         0.038139
5         0.035725
6         0.035725
7         0.035725
8         0.035725
9         0.035725
10        0.038139
11        0.035725
12        0.035725
13        0.035725
14        0.035725
15        0.035725
16        0.038139
17        0.035725
18        0.035725
19        0.035725
20        0.035725
21        0.035725
22        0.037217
23        0.035725
24        0.035725
25        0.035725
26        0.035725
27        0.035725
28        0.038139
29        0.038139
            ...
595182    0.035725
595183    0.035725
595184    0.035725
595185    0.038139
595186    0.035725
595187    0.035725
595188    0.035725
595189    0.035725
595190    0.038139
595191    0.035725
595192    0.035725
595193    0.038139
595194    0.035725
595195    0.037217
595196    0.035725
595197    0.035725
595198    0.035725
595199    0.035725
595200    0.035725
595201    0.038139
595202    0.035725
595203    0.038139
595204    0.038139
595205    0.037217
595206    0.035725
595207    0.035725
595208    0.035725
595209    0.035725
595210    0.038139
595211    0.035725
Name: ps_ind_02_cat, Length: 595212, dtype: float64